
@{
    ViewData["Title"] = "Main Menu";
}

<h2>Main Menu</h2>
<p>Welcome, @User.Identity.Name!</p>

<ul>
    <li><a asp-controller="Game" asp-action="StartGame">Start New Game</a></li>
    <li><a asp-controller="Home" asp-action="Rules">View Game Rules</a></li>
    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
   <li><a asp-controller="Game" asp-action="ShowSavedGames">Show Saved Games</a></li>

</ul>
