
@model UserViewModel
<form asp-controller="Register" asp-action="Register" method="post">
    <div>
        <label>First Name:</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label>Last Name:</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label>Sex:</label>
        <input asp-for="Sex" />
        <span asp-validation-for="Sex"></span>
    </div>
    <div>
        <label>Age:</label>
        <input asp-for="Age" type="number" />
        <span asp-validation-for="Age"></span>
    </div>
    <div>
        <label>State:</label>
        <input asp-for="State" />
        <span asp-validation-for="State"></span>
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Username:</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Register</button>
</form>
