html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, 40px);
  gap: 4px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border: 1px solid #ddd;
}

.cell.revealed {
  background-color: white;
}

.cell.mine {
  background-image: url('/images/mine.png');
}

.cell.flagged {
  background-image: url('/images/flag.png');
}
